In [11]:
#Dependencies and Setup
import pandas as pd
import os, csv

In [12]:
#File to load up       #Read school and student data
school_data = os.path.join("Resources", "schools_complete.csv") #Make sure your location is set correctly.
student_data = os.path.join("Resources", "students_complete.csv") #Again, make sure location is set correctly.

In [13]:
#Set the school/student data files to be stored in Panda Data Frames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

In [20]:
#Combine all data into a single dataFrame using the left join option. 
collected_data = pd.merge(student_data,school_data, how='left')

In [78]:
#Cleaning Data
collected_data = collected_data.rename(columns = {'school_name' : 'School Name', 'student_name' : "Student Name",
                                 "reading_score" : "Reading Score", 'math_score' : "Math Score" , "budget" : "Budget"})

In [79]:
#Getting the data combined
collected_data_group = collected_data.groupby(['School Name'])
collected_data_group.count().head().reset_index()

,School Name,Student ID,Student Name,gender,grade,Reading Score,Math Score,School ID,type,size,Budget
0,Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
1,Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
2,Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
3,Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
4,Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [80]:
#Calculate the totals (Schools and Students) 
collected_data_group['School Name'].count()

School Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School Name, dtype: int64

In [81]:
#Calculate budget Total
all_totals_schools = collected_data.groupby(['School Name']).sum()
all_totals_schools['Budget']

School Name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: Budget, dtype: int64

In [82]:
#Calculate Average Scores
average_total_reading = collected_data_group['Reading Score'].mean()
print('The average score of Reading per school:')
average_total_reading.sort_values()

The average score of Reading per school:

School Name
Rodriguez High School    80.744686
Ford High School         80.746258
Hernandez High School    80.934412
Johnson High School      80.966394
Bailey High School       81.033963
Figueroa High School     81.158020
Huang High School        81.182722
Shelton High School      83.725724
Holden High School       83.814988
Griffin High School      83.816757
Thomas High School       83.848930
Wright High School       83.955000
Cabrera High School      83.975780
Wilson High School       83.989488
Pena High School         84.044699
Name: Reading Score, dtype: float64

In [83]:
#Still average scores
average_total_math = collected_data_group['Math Score'].mean()
print('The average score of Math per school:')
average_total_math.sort_values()

The average score of Math per school:

School Name
Huang High School        76.629414
Figueroa High School     76.711767
Rodriguez High School    76.842711
Bailey High School       77.048432
Johnson High School      77.072464
Ford High School         77.102592
Hernandez High School    77.289752
Cabrera High School      83.061895
Wilson High School       83.274201
Griffin High School      83.351499
Shelton High School      83.359455
Thomas High School       83.418349
Wright High School       83.682222
Holden High School       83.803279
Pena High School         83.839917
Name: Math Score, dtype: float64

In [ ]:
#Percentage Pass Rate:
percentage_pass_rate =