In [21]:
# Import Dependencies
import pandas as pd

In [22]:
# Make a reference to the books.csv file path
fileOne = "Resources/books.csv"
# Import the books.csv file as a DataFrame
fileOneDataFrame = pd.read_csv(fileOne)
fileOneDataFrame

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [23]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
changeDataFrame = fileOneDataFrame[["isbn","original_publication_year","original_title", "authors", "ratings_count","ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]]
fileOneDataFrame = changeDataFrame
fileOneDataFrame
# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

,isbn,original_publication_year,original_title,authors,ratings_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,2008.0,The Hunger Games,Suzanne Collins,4780653,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",4602479,75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,3866839,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,3198671,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,2683664,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...,...
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,17204,105,575,3538,7860,6778
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,12582,303,551,1737,3389,6972
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,9421,11,111,1191,4240,5180
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,11279,275,1002,3765,4577,2375
9999,375700455,1998.0,The First World War,John Keegan,9162,117,345,2031,4138,3069

In [24]:
# Rename the headers to be more explanatory
renamed_df = fileOneDataFrame.rename(columns={"isbn": "ISBN", "original_publication_year" : "Publication Year", 
                                              "original_title" : "Title", "authors" : "Author", 
                                              "ratings_count" : "Total Ratings", "ratings_1" : "Africa",
                                              "ratings_2" : "UK", "ratings_3" : "Asia",
                                              "ratings_4" : "Korea", "ratings_5" : "USA"
                                             })
renamed_df

,ISBN,Publication Year,Title,Author,Total Ratings,Africa,UK,Asia,Korea,USA
0,439023483,2008.0,The Hunger Games,Suzanne Collins,4780653,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",4602479,75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,3866839,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,3198671,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,2683664,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...,...
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,17204,105,575,3538,7860,6778
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,12582,303,551,1737,3389,6972
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,9421,11,111,1191,4240,5180
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,11279,275,1002,3765,4577,2375
9999,375700455,1998.0,The First World War,John Keegan,9162,117,345,2031,4138,3069

In [27]:
# Push the remade DataFrame to a new CSV file
renamed_df.to_csv('Resources/FileOne.csv', index = False, header = True)

FileNotFoundError: [Errno 2] No such file or directory: 'Week_4/FileOne.csv'